{% extends "template_two_column.html" %}


{% block title %}NOMOVIE-Register {% endblock %}
{% block slide_show %}


{% endblock %}

{% block left_column %}

		<div class="col-sm-3">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span> Completely Synergize</h1>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">Resource Taxing</a>
					<a href="#" class="list-group-item">Premier Niche Markets</a>
					<a href="#" class="list-group-item">Dynamically Innovate</a>
					<a href="#" class="list-group-item">Objectively Innovate</a>
					<a href="#" class="list-group-item">Proactively Envisioned</a>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-bullhorn"></span>
						Active Predomination
					</h3>
				</div>
				<div class="panel-body">
					<p>Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">Resource</button>
						<button type="button" class="btn btn-default">Envision</button>
						<button type="button" class="btn btn-default">Niche</button>
					</div>
				</div>
			</div>

		</div><!--/Left Column-->

{% endblock %}


{% block right_column %}
		<div class="col-sm-9">



			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
					<h2>Premier Niche Markets
                    </h2>
					<p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
					<p><button class="btn btn-default">Read More</button></p>
					<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
					<ul class="list-inline">
						<li><a href="#">Today</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> 2 Comments</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-share"></span> 8 Shares</a></li>
					</ul>
				</article>
			</div>

			<hr>
		</div><!--/Center Column-->

{% endblock %}
